{{extend 'layout.html'}}

<html>
  <head>
    <title> Hire </title>
    <link rel="stylesheet" href="{{=URL('static','css/hirePage_style.css')}}">
    <script src="{{=URL('static','js/hirePage.js')}}"></script>
  </head>
  <body>
    <div class = "hire">
        {{idHolder = 0}}
      <h1>People for Hire</h1>
        
        <table border="1">    
        {{for hire in hireList:}}
          {{if hire.id != auth.user.id:}}
            {{employee = db.auth_user(hire)}}
            <tr>
            <td class="hire_list_name"
                onclick=
                    "updateInspector({{=hire.id, hire==hire}});
                     {{idHolder = int(hire.id)}};"
                onmouseover="this.style.backgroundColor='yellow'"
                onmouseout="this.style.backgroundColor='white'"
            >{{=hire.username}}</td>
            <td class="hireButton">
                <form id="hire_form" action="{{=URL('showHire', args=[hire.id])}}">
                    <input type="submit" value="Hire"></input>
                </form>
                </td>
            </tr>            
          {{pass}}
        {{pass}}
        </table>
    </div>
  </body>
  
    <div class="userTable">
    <b>Info</b>
    <table class="user_info">
        <tr>
            <th>Name</th>
            <td id=displayName></td>
        </tr>
        <tr>
            <th>Cost to Hire</th>
            <td id="displayHireCost"></td>
        </tr>
    </table>
    </div>


</html>
