{{extend 'layout.html'}}
<h1>"{{=current_user.first_name}} {{=current_user.last_name}}"</h1>
<h2>Gold: {{=current_user.gold}}</h2>
{{=form}}
<b>Inventory</b>
{{
for item_id in current_user.inventory:
item = db.equip_items(item_id)
=LI(item.name, B(" ATK: ", item.attack),B(" DEF: ", item.defense),B(" SPD: ", item.speed))
=FORM('', INPUT(_name='equip', _type='submit', _value='Equip'), _action=URL("profilePage", args=item_id))
pass
}}
<b>Current Loadout</b>
{{
loadout_list = db.loadouts(current_user.curr_loadout).equip_list
for equip_id in loadout_list[1:]:
if equip_id:
equip_item = db.equip_items(equip_id)
=LI(db.equip_types(equip_item.category).name, ": ", equip_item.name)
pass
pass
}}
