{{extend 'layout.html'}}
<html>
<head>
        <title>Shop</title>
        <link rel="stylesheet" href="{{=URL('static','css/shop_style.css')}}">
</head>
<body>
<h1>Shop</h1>
<h2>Welcome to shop! Buy and sell items here!</h2>
<h3>
    {{if update:
        ='New items available!'
        elif len(itemList)==0:
        ='Come back later for more items!'
        pass
    }}
</h3>
<ul>
  {{for buyItem in session.shop_items:}}
  {{item_name = db.equip_items(id=buyItem).name}} 
  {{=LI(A(item_name, _href=URL("showBuyItem", args=buyItem)))}}
  {{pass}}
</ul>
</body>
</html>
