body{
    background-color: #ECECEA;
}

div.topics{
    margin-top: 25px;
    font-family: fantasy;
    text-align: center;
}

h1{
    font-family: fantasy;
    text-align: center;
}

topics.h2{
    padding-top: 25px;
}

a{
    color: black;
}

a:hover{
    color: red;
    text-decoration: none;
}