body{
    text-align: center;
}

div.hire{
    font-family: fantasy;
}

h1{
    margin-top: 50px;
}

h2{
    margin-top: 175px;
}

a{
    color: black;
}

a:hover{
    color:red;
    text-decoration: none;
}