body{
    text-align: left;
    background-repeat: no-repeat;
    background-color: #ECECEA;
    background-image: url("../images/scroll.png");
    background-position: center;
    background-size: 1100px 750px;
}

div.hire{
    padding: 40px 550px 0px 550px;
    float: center;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: fantasy;
}

h1{
    margin-top: 50px;
}

border.hire{
    float: center;
}

h2{
    margin-top: 175px;
}

a{
    color: black;
}

a:hover{
    color:red;
    text-decoration: none;
}

td {
    text-align: center;
    padding: 5px;
    width: 120px;
    height: 40px;
    border: 2px solid black;  
}

table.userInfo {
    margin-bottom: 20px;
    margin-right: 8px;
    border: 3px solid black;
}

div.hireListTable {
    display: inline-block;
    margin-right: 19px;
    padding: 7%;
}

div.userTable {
    display: inline-block;
    margin: 12px;
}

td.hireButton {
    border: none;
    margin-right: 5px;
}

td.hire_list_name {
    cursor: pointer;
    margin: auto;
    border: none;
}

table.main {
    width: 100%;
}

td#displayName {
    border: none;
}
td#displayHireCost {
    border: none;
}
