body{
    text-align: left;
    
    background-image: url("../images/scroll.png");
}

div.hire{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: fantasy;
}

h1{
    margin-top: 50px;
}

h2{
    margin-top: 175px;
}

a{
    color: black;
}

a:hover{
    color:red;
    text-decoration: none;
}

td {
    text-align: center;
    padding: 2px;
    width: 120px;
    height: 40px;
    border: 1px solid black;  
}

table.userInfo {
    margin-bottom: 20px;
    border: 3px solid black;
}

div.userTable {
    margin: auto;
    padding: 7%

}

td.hireButton {
    border: none;
}

td.hire_list_name {
    cursor: pointer;
}