table {
    margin-bottom: 20px;
    border: 3px solid black;
}

td {
    text-align: center;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid black;
}
td.inv_item_name {
    cursor: pointer;
}
td.category {
    height: 20px;
}
td.details {
    border-right: none;
}
td.equip_button {
    border: none;
}


.btn {
    padding: 10px 5px;
}
input {
    height: 80%;
}

div.inv {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
table.item_details {
    float: left;
}
