h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
}

h2 {
    font-family: fantasy;
}

body {
    margin-top: 80px;
    text-align: center;
    background-color: #dfbf9f;
    
    background-image: url("../images/vine-border-left.png");
    background-position: 0% 70px;
    background-repeat: no-repeat;
    background-attachment: free;
}

ul {
    font-family: "Times new Roman";
}

div.board {
    margin-left: 25%;
    border: 2px solid #996633;
    background-color: #996633;
    border-radius: 5px;
    width: 50%;
}

div.post {
    font-family: Sans-Serif;
    width: 50%;
    margin-left: 25%;
    background-color: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
}

a:link {
    color: red;
}

a:visited {
    color: #003d99;
}

a:active {
    color: red;
}