body {
    background-color: #ECECEA;
    
    background-image: url("../images/vine-border-left.png");
    background-position: 0% 70px;
    background-repeat: no-repeat;
    background-attachment: free;
}

div.title {
    margin-top: 90px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'MedievalSharp', cursive;
}

div.quest {
    margin-top: 20px;
    margin-left: 25%;
    padding-top: 80px;
    padding-bottom: 20px;
    width: 600px;
    height: 600px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 18px;
    
    background-image: url("../images/scroll.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-attachment: free;
}

a.button{
    text-align: center;
    background-color: blanchedalmond;
    border: 5px burlywood groove;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    color: black;
    width: 10%;
    font-size:20px;
    margin-left: 45%;
}