h1 {
    text-align: left;
    font-family: 'MedievalSharp', cursive;
    font-size: 60px;
}

h2 {
    #font-family: fantasy;
    font-family: 'MedievalSharp', cursive;
}

body {
    margin-top: 40px;
    text-align: center;
    background-color: #ECECEA;
}

div.board {
    #font-family: 'MedievalSharp', cursive;
    margin-left: 25%;
    padding-top: 5px;
    
    background-image: url("../images/wooden_board.png");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: free;

    width: 600px;
}

div.post {
    font-family: 'MedievalSharp', cursive;
    width: 60%;
    margin-left: 20%;
    background-color: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
}

div.post_left {
    margin-left: 10%;
    width: 10%;
}
div.post_right {
    margin-right: 70%;
    width: 10%;
}

a:link {
    color: red;
}

a:hover {
    color: blue;
}

a:visited {
    color: red;
}

a:active {
    color: red;
}