h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
}

h2 {
    font-family: fantasy;
}

body {
    margin-top: 80px;
    text-align: center;
    background-color: #ccffff;
    
    /**
    background-image: url("../images/vine-border-left.png");
    background-position: 0% 70px;
    background-repeat: no-repeat;
    background-attachment: free;
    **/
}

ul {
    font-family: "Times new Roman";
}

div.board {
    margin-left: 25%;
    
    background-image: url("../images/wooden_board.png");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: free;
    
    #border: 2px solid #996633;
    #background-color: #996633;
    #border-radius: 1px;
    width: 50%;
}

div.post {
    font-family: Sans-Serif;
    width: 60%;
    margin-left: 20%;
    background-color: #e6e6e6;
    border: 2px solid #e6e6e6;
    border-radius: 15px;
}

div.post_left {
    margin-left: 10%;
    width: 10%;
}
div.post_right {
    margin-right: 70%;
    width: 10%;
}

a:link {
    color: red;
}

a:hover {
    color: blue;
}

a:visited {
    color: red;
}

a:active {
    color: red;
}