h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: Serif;
    background-color: #00cc66;
    
    border: 2px solid #ffff00;
    border-radius: 5px;
}

body {
    margin-top: 80px;
    text-align: center;
    background-color: #dfbf9f;
    
    background-image: url("../images/vine-border-left.png");
    background-position: 0% 70px;
    background-repeat: no-repeat;
    background-attachment: free;
}

li.gold{
    color: #ffff00;
}