{{extend 'layout.html'}}
<head>
    <link rel="stylesheet" href="{{=URL('static','css/questResult.css')}}">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
</head>
<body>
    <div class="title"><h1>Quest {{=quest.title or ''}} {{=result_msg}}</h1></div>
    <div class="quest">
        {{if success:}}
            <p>You earned {{=quest.gold}} Gold!</p>
            {{if found_items:}}
                {{for loot in found_items:}}
                    <p>{{='Found: ' + loot.name}}</p>
                {{pass}}
            {{pass}}
        {{pass}}
    </div>
    <div class="button_loc">
        {{=A('Continue', _href=URL("default","index"), _class="button")}}
    </div>
</body>
