{{extend 'layout.html'}}
<head>
    <link rel="stylesheet" href="{{=URL('static','css/showQuest.css')}}">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
</head>
<body>
<div class="quest">
    <div class="title">
        <br>
        <h1><u>{{=quest.title}}</u></h1>
        <h2>By: {{=quest.quest_giver.first_name}} {{=quest.quest_giver.last_name}}</h2>
    </div>
    <div class="quest_body">
    <h3><u>Rewards:</u></h3>
        Gold: {{=quest.gold}}<br>
        Prestige: {{=quest.prestige}}
        {{if quest.loot_items:}}
        {{for loot in quest.loot_items:}}
        {{=db.equip_items(loot).name}}
        {{pass}}
        {{pass}}    
    <h3><u>Difficulty: {{=quest.difficulty}}</u></h3>
    Location: {{=quest.location}}
    <p><b>Objective:</b> {{=quest.details}}</p>
    Party Members: <br>
    <ul>
        {{if session.party:}}
        {{for hero in session.party:}}
        {{=LI(db.auth_user(hero).first_name)}}
        {{pass}}
        {{else:}}
        {{=LI('None')}}
        {{pass}}
    </ul>
    <br><br>
    </div>
</div>
<br>
<div class="button_loc">
    {{=A('Accept Quest?', _href=URL("questResult", args=quest.id), _class="button")}}
</div>
</body>
